img {
  max-width: 50%;
  height: auto;
}

header {
  background-color: black;
  color: aliceblue;
  padding-top: 1rem;
  border-radius: 0.5rem;
}

footer {
  background-color: black;
  color: aliceblue;
  padding-top: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
}
.footer-content {
  padding-left: 1rem;
}

.footer-text {
  width: 50%;
}
.logo {
  width: 5rem;
  height: 5rem;
  float: left;
  margin-right: 1rem;
  margin-right: 0.5rem;
}
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 30rem;
  border-radius: 0.5rem;
}
.carousel-inner {
  display: flex;
  width: 100%;
  animation: scroll 5s linear infinite;
}
.carousel-inner img {
  flex: 0 0 auto;
  width: 100%;
  height: 100%; /* Ensure images fill the carousel height */
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
